<h1>Blogger profile</h1>

<h4>Name: <%= @blogger.name %></h4>
<h4>Bio: <%= @blogger.bio %></h4>
<h4>Age: <%= @blogger.age %></h4>
<h4>Total likes:
<% sum = @blogger.posts.sum do |post| %>
 <% post.likes %>
<% end %>
<%= sum %>
</h4>
<h4>Featured post:
<% @blogger.posts.max_by(1) do |post| %>
<% post.likes %>
<% @featured_post = post.title %>
<% @featured_id = post.id %>
<% end %>
<%= link_to @featured_post, post_path(@featured_id) %>
</h4>


<%# link_to post.title, post_path(post) %>
<%#   create_table "bloggers", force: :cascade do |t| %>
<%#     t.string "name" %>
    <%# t.string "bio" %>
    <%# t.integer "age" %>
    <%# t.datetime "created_at", null: false %>
    <%# t.datetime "updated_at", null: false %>
  <%# end %>

  <%# create_table "destinations", force: :cascade do |t| %>
<%#     t.string "name" %>
    <%# t.string "country" %>
    <%# t.datetime "created_at", null: false %>
    <%# t.datetime "updated_at", null: false %>
  <%# end %>

  <%# create_table "posts", force: :cascade do |t| %>
    <%# t.string "title" %>
    <%# t.text "content" %>
    <%# t.integer "likes" %>
    <%# t.integer "blogger_id" %>
    <%# t.integer "destination_id" %>
    <%# t.datetime "created_at", null: false %>
    <%# t.datetime "updated_at", null: false %>
  <%# end %>